.pack {
  border-radius: 20px;
  color: white;
  max-width: 250px;
  max-height: 270px;
  min-height: 220px; }

  .pack-header {
    padding: 0 10px;
   }
  
.pack-body {
  min-height: 80px; }

.pack-buy {
  background-color: #262626; }

.pack-enable {
  border: 3px;
  border-color: #00ccff;
  border-style: solid; }

  .badge-enable {
    border: 3px;
    border-color: #00ccff;
    border-style: solid; }

.pack-disabled {
  background-color: #262626; }

.pack-header-enable {
  border-bottom: 3px solid #00ccff; }

.pack-header-buy, .pack-header-disabled {
  border-bottom: 3px solid #12151e; }

.badge-left {
position: absolute;
left: 10%;
-webkit-transform: translateX(-10%);
transform: translateX(-10%)
}
.badge-center {
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}
.badge-top {
position: absolute;
top: 80%;
left: 35%;
-webkit-transform: translateY(-70%);
transform: translateY(-70%)
}
.badge-right {
position: absolute;
left: 90%;
-webkit-transform: translateX(-90%);
transform: translateX(-90%)
}

.pack-ind {	
	position: absolute;
	left:-5px; 
	top:-14px;
	height: 50px;
	width: 100px;
} 

.badge-blue-light {
  background-color: #00ccff; 
}