.affiliate {
    border-radius: 20px;
    color: white;
    background-color: #262626;	
}

.affiliate-body {	
	display: flex;
	flex-wrap: nowrap;

    color: white;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

.affiliate-footer {	
    height: 50px;
	display: flex;
	flex-wrap: nowrap;

	align-items: center;
	vertical-align: middle;
	justify-content: center;
}