
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-power-off:before{content:"\f011";}
.fa-refresh:before{content:"\f021";}
.fa-comment:before{content:"\f075";}
.fa-shopping-cart:before{content:"\f07a";}
.fa-twitter:before{content:"\f099";}
.fa-facebook:before{content:"\f09a";}
.fa-users:before{content:"\f0c0";}
.fa-clipboard:before{content:"\f0ea";}
.fa-angle-down:before{content:"\f107";}
.fa-instagram:before{content:"\f16d";}
.fa-dribbble:before{content:"\f17d";}
.fa-behance:before{content:"\f1b4";}
[class^="icon-"]{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.icon-arrow-up:before{content:"\e906";}

body{margin:0;}
footer,header,nav,section{display:block;}
main{display:block;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
strong{font-weight:inherit;}
strong{font-weight:bolder;}
small{font-size:80%;}
img{border-style:none;}
button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button{text-transform:none;}
button,[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
*,*::before,*::after{box-sizing:inherit;}
body{font-weight:normal;line-height:1;word-wrap:break-word;text-rendering:optimizeLegibility;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:none;}
body,input,button{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;}
img{max-width:100%;height:auto;}
div,ul,li,h3,h5,form,p,td{margin:0;padding:0;}
h3,h5{-webkit-font-smoothing:auto;-webkit-font-smoothing:antialiased;-webkit-font-variant-ligatures:common-ligatures;-moz-font-variant-ligatures:common-ligatures;font-variant-ligatures:common-ligatures;text-rendering:optimizeLegibility;}
i{font-style:italic;line-height:inherit;}
strong{font-weight:bold;line-height:inherit;}
small{font-size:60%;line-height:inherit;}
ul{list-style:none;}
li{display:block;}
a{text-decoration:none;line-height:inherit;}
a img{border:none;}
input[type="text"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;}
.row{width:94%;max-width:1200px;margin:0 auto;}
.row:after{content:"";display:table;clear:both;}
.row .row{width:auto;max-width:none;margin-left:-20px;margin-right:-20px;}
[class*="col-"]{float:left;padding:0 20px;}
.col-twelve{width:100%;}
@media only screen and (max-width: 1200px){
.row .row{margin-left:-15px;margin-right:-15px;}
[class*="col-"]{padding:0 15px;}
}
@media only screen and (max-width: 800px){
.row{width:90%;}
}
@media only screen and (max-width: 600px){
.row{width:auto;padding-left:25px;padding-right:25px;}
.row .row{margin-left:-10px;margin-right:-10px;}
[class*="col-"]{padding:0 10px;}
}
@media only screen and (max-width: 400px){
.row .row{padding-left:0;padding-right:0;margin-left:0;margin-right:0;}
[class*="col-"]{width:100%!important;float:none!important;clear:both!important;margin-left:0;margin-right:0;padding:0;}
}
.text-center{text-align:center;}

body{height:100%;}
body{background:#111111;font-family:"lora-regular", serif;font-size:1.7rem;font-style:normal;font-weight:normal;line-height:1.765;color:#757575;margin:0;padding:0;}
a{color:#0087cc;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
a:hover,a:focus,a:active{color:#39b54a;}
a:hover,a:active{outline:0;}
h3,h5{font-family:"montserrat-medium", sans-serif;color:#000000;font-style:normal;font-weight:normal;text-rendering:optimizeLegibility;}
h3{margin-top:6rem;margin-bottom:1.8rem;}
@media only screen and (max-width: 600px){
h3{margin-top:5.1rem;}
}
h5{margin-top:4.2rem;margin-bottom:1.5rem;}
@media only screen and (max-width: 600px){
h5{margin-top:3.6rem;margin-bottom:0.9rem;}
}
h3{font-size:2.4rem;line-height:1.25;}
h5{font-size:1.6rem;line-height:1.313;}
i,strong{font-size:inherit;line-height:inherit;font-style:normal;font-weight:normal;}
i{font-family:"lora-italic", serif;}
strong{font-family:"lora-bold", serif;}
small{font-size:1.2rem;line-height:inherit;}
ul{list-style:disc;}
li{display:list-item;}
ul{margin-left:1.7rem;}
ul li{padding-left:.4rem;}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.pace-inactive{display:none;}
.pace .pace-progress{background:#39b54a;position:fixed;z-index:900;top:0;right:100%;width:100%;height:4px;}
::-webkit-input-placeholder{color:#828282;}
:-moz-placeholder{color:#828282;}
::-moz-placeholder{color:#828282;}
:-ms-input-placeholder{color:#828282;}
.s-header{width:100%;height:96px;background-color:transparent;position:absolute;top:0;z-index:500;}
.header-logo{display:inline-block;position:absolute;margin:0;padding:0;left:40px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);z-index:501;}
.header-logo a{display:block;margin:9px 0 0 0;padding:0;outline:0;border:none;width:150px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.header-nav{background:#0C0C0C;color:rgba(255, 255, 255, 0.25);font-family:"montserrat-light", sans-serif;font-size:1.3rem;line-height:1.846;padding:3.6rem 3rem 3.6rem 3.6rem;height:100%;width:280px;position:fixed;right:0;top:0;z-index:700;overflow-y:auto;overflow-x:hidden;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-transform:translateZ(0);backface-visibility:hidden;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);visibility:hidden;}
.header-nav a,.header-nav a:visited{color:rgba(255, 255, 255, 0.5);}
.header-nav a:hover,.header-nav a:focus,.header-nav a:active{color:white;}
.header-nav h3{font-family:"montserrat-semibold", sans-serif;font-size:11px;line-height:1.5;text-transform:uppercase;letter-spacing:.25rem;margin-bottom:4.8rem;margin-top:.9rem;color:#39b54a;}
.header-nav__content{position:relative;left:50px;opacity:0;visibility:hidden;}
.header-nav__list{font-family:"montserrat-regular", sans-serif;font-size:1.8rem;margin:3.6rem 0 3rem 0;padding:0 0 1.8rem 0;list-style:none;}
.header-nav__list li{padding-left:0;line-height:4.5rem;}
.header-nav__list a,.header-nav__list a:visited{color:#FFFFFF;}
.header-nav__social{list-style:none;display:inline-block;margin:0;font-size:1.8rem;}
.header-nav__social li{margin-right:12px;padding-left:0;display:inline-block;}
.header-nav__social li a{color:rgba(255, 255, 255, 0.15);}
.header-nav__social li a:hover,.header-nav__social li a:focus{color:white;}
.header-nav__social li:last-child{margin:0;}
.header-nav__close{display:block;height:30px;width:30px;border-radius:3px;background-color:rgba(0, 0, 0, 0.3);position:absolute;top:36px;right:30px;font:0/0 a;text-shadow:none;color:transparent;z-index:800;}
.header-nav__close span::before,.header-nav__close span::after{content:"";display:block;height:2px;width:12px;background-color:#FFFFFF;position:absolute;top:50%;left:9px;margin-top:-1px;}
.header-nav__close span::before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.header-nav__close span::after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.header-menu-toggle{position:fixed;right:38px;top:24px;height:42px;width:42px;line-height:42px;font-family:"montserrat-medium", sans-serif;font-size:1.3rem;text-transform:uppercase;letter-spacing:.3rem;color:#39b54a;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.header-menu-toggle:hover,.header-menu-toggle:focus{color:#FFFFFF;}
.header-menu-text{display:block;position:absolute;top:0;left:-90px;width:100px;padding-left:12px;}
.header-menu-icon{display:block;width:22px;height:2px;margin-top:-1px;position:absolute;left:10px;top:50%;right:auto;bottom:auto;background-color:white;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.header-menu-icon::before,.header-menu-icon::after{content:'';width:100%;height:100%;background-color:inherit;position:absolute;left:0;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.header-menu-icon::before{top:-9px;}
.header-menu-icon::after{bottom:-9px;}
@media only screen and (max-width: 600px){
.s-header{height:90px;}
.header-logo{left:30px;}
.header-menu-toggle{right:25px;}
}
@media only screen and (max-width: 400px){
.header-menu-text{display:none;}
}
footer{
    padding:5px 0 5px;
    font-family:"montserrat-light", sans-serif;
    font-size:15px;
    line-height:2;
    text-align:center;
    color:rgba(255, 255, 255, 0.3);
}
footer a{color:#FFFFFF;}
footer a:hover,footer a:focus,footer a:active{color:#39b54a;}
footer .row{max-width:980px;}
.footer-bottom{margin-top:5.4rem;text-align:center;font-size:14px;}
.footer-bottom .copyright span{display:inline-block;}
.footer-bottom .copyright span::after{content:"|";display:inline-block;padding:0 1rem 0 1.2rem;color:rgba(255, 255, 255, 0.05);}
.footer-bottom .copyright span:last-child::after{display:none;}
.go-top{position:fixed;bottom:30px;right:30px;z-index:600;display:none;}
.go-top a,.go-top a:visited{text-decoration:none;border:0 none;display:block;height:60px;width:60px;line-height:60px;text-align:center;background:black;color:rgba(255, 255, 255, 0.5);text-align:center;text-transform:uppercase;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.go-top a i,.go-top a:visited i{font-size:18px;line-height:inherit;}
.go-top a:hover,.go-top a:focus{color:#FFFFFF;}
@media only screen and (max-width: 800px){
footer .row{max-width:600px;}
}
@media only screen and (max-width: 600px){
.footer-bottom{padding-bottom:.6rem;}
.footer-bottom .copyright span{display:block;}
.footer-bottom .copyright span::after{display:none;}
.go-top{right:0;bottom:0;}
}

p{margin-top:0;margin-bottom:1rem;}
small{font-size:80%;}
a{color:#1870dc;text-decoration:none;background-color:transparent;}
a:hover{color:#104d97;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
.row{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-right:-20px;margin-left:-20px;}
.col-12,.col-md-3,.col-lg-2,.col-xl-3{position:relative;width:100%;padding-right:20px;padding-left:20px;}
.col-12{-webkit-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
@media (min-width: 768px){
.col-md-3{-webkit-flex:0 0 25%;flex:0 0 25%;max-width:25%;}
}
@media (min-width: 992px){
.col-lg-2{-webkit-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%;}
}
@media (min-width: 1200px){
.col-xl-3{-webkit-flex:0 0 25%;flex:0 0 25%;max-width:25%;}
}
.table{width:100%;margin-bottom:0.5rem;color:#29323a;}
.table td{padding:0.2rem;vertical-align:top;border-top:1px solid rgba(51, 51, 51, 0.35);}
.form-control{display:block;width:100%;height:calc(1.5em + 1rem + 2px);padding:0.5rem 0.75rem;font-size:1rem;font-weight:300;line-height:1.5;color:#495057;background-color:#f4f4f5;background-clip:padding-box;border:1px solid #f4f4f5;border-radius:0.3rem;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.form-control{transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:-moz-focusring{color:transparent;text-shadow:0 0 0 #495057;}
.form-control:focus{color:#495057;background-color:#f4f4f5;border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(36, 119, 255, 0.25);}
.form-control::-webkit-input-placeholder{color:#798892;opacity:1;}
.form-control::placeholder{color:#798892;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.form-group{margin-bottom:1rem;}
.btn{display:inline-block;font-weight:400;color:#29323a;text-align:center;vertical-align:middle;-webkit-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:0.5rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.3rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.btn{transition:none;}
}
.btn:hover{color:#29323a;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(36, 119, 255, 0.25);}
.btn:disabled{opacity:0.65;box-shadow:none;}
.btn-success{color:#f4f4f5;background-color:#2d8515;border-color:#2d8515;box-shadow:inset 0 1px 0 rgba(244, 244, 245, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);}
.btn-success:hover{color:#f4f4f5;background-color:#226410;border-color:#1e590e;}
.btn-success:focus{color:#f4f4f5;background-color:#226410;border-color:#1e590e;box-shadow:inset 0 1px 0 rgba(244, 244, 245, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(75, 150, 55, 0.5);}
.btn-success:disabled{color:#f4f4f5;background-color:#2d8515;border-color:#2d8515;}
.btn-sm{padding:0.4rem 0.8rem;font-size:0.875rem;line-height:1.5;border-radius:0.25rem;}
.input-group{position:relative;border:1px solid;border-radius:10px;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-items:stretch;align-items:stretch;width:100%;}
.input-group > .form-control{position:relative;-webkit-flex:1 1 auto;flex:1 1 auto;width:1%;min-width:0;margin-bottom:0;}
.input-group > .form-control:focus{z-index:3;}
.input-group > .form-control:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group-prepend{display:-webkit-flex;display:flex;}
.input-group-prepend{margin-right:-1px;}
.input-group-text{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;padding:0.5rem 0.75rem;margin-bottom:0;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;text-align:center;white-space:nowrap;background-color:transparent;border:1px solid transparent;border-radius:0.3rem;}
.input-group > .input-group-prepend > .input-group-text{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group > .input-group-prepend:not(:first-child) > .input-group-text{border-top-left-radius:0;border-bottom-left-radius:0;}
.card-footer{padding:0.75rem 1.25rem;background-color:rgba(0, 0, 0, 0.03);border-top:1px solid rgba(0, 0, 0, 0.125);}
.card-footer:last-child{border-radius:0 0 9px 9px;}

.bg-transparent{background-color:transparent!important;}
.float-left{float:left!important;}
.float-right{float:right!important;}
.mt-0{margin-top:0!important;}
.py-0{padding-top:0!important;}
.py-0{padding-bottom:0!important;}
.pl-3{padding-left:1rem!important;}
.mx-auto{margin-right:auto!important;}
.mx-auto{margin-left:auto!important;}
.text-center{text-align:center!important;}
.text-white{color:#f4f4f5!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
tr,img{page-break-inside:avoid;}
p,h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
body{min-width:992px!important;}
.table{border-collapse:collapse!important;}
.table td{background-color:#f4f4f5!important;}
}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-power-off:before{content:"";}
.fa-refresh:before{content:"";}
.fa-comment:before{content:"";}
.fa-shopping-cart:before{content:"";}
.fa-twitter:before{content:"";}
.fa-facebook:before{content:"";}
.fa-users:before{content:"";}
.fa-clipboard:before{content:"";}
.fa-angle-down:before{content:"";}
.fa-instagram:before{content:"";}
.fa-dribbble:before{content:"";}
.fa-behance:before{content:"";}
.form-control{color:rgba(244, 244, 245, 0.6);}
.form-control:focus,.form-control:active{color:rgba(244, 244, 245, 0.6);}
.form-control.input-transparent{border:none;color:rgba(244, 244, 245, 0.9);background-color:transparent;opacity:.8;}
.form-control.input-transparent::-moz-placeholder{color:rgba(238, 238, 238, 0.76);opacity:1;}
.form-control.input-transparent:-ms-input-placeholder{color:rgba(238, 238, 238, 0.76);}
.form-control.input-transparent::-webkit-input-placeholder{color:rgba(238, 238, 238, 0.76);}
.form-control.input-transparent:active,.form-control.input-transparent:focus{background-color:#040620!important;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);}
.widget-auth{max-width:385px;}
.widget-auth h5{font-weight:400;text-align:center;}
.form-control{font-family:"Open Sans", sans-serif;box-shadow:none;transition:border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;background:#040620;border:none;}
.form-control:focus{box-shadow:none;background:#040620;}
.table{color:inherit;}
h3,h5{font-weight:300;}
small{font-size:85%;}
.btn.btn-success{color:#f4f4f5;}
.btn-success{color:#f4f4f5;}
.btn-success:hover{color:#f4f4f5;}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;}
.btn{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.btn:not(.active){box-shadow:none!important;}
body{overflow-x:hidden;color:rgba(244, 244, 245, 0.9);background:radial-gradient(farthest-side ellipse at 100% 0, #0c0c0f 100%, #0c0c0f);background-attachment:fixed;background-size:cover;background-repeat:no-repeat;}
body{height:100%;}
a,.btn{cursor:pointer;transition:color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;font-family:"Open Sans", sans-serif;}
a:hover{color:inherit;text-decoration:none;}
td{font-weight:300;}
strong{font-weight:700;}
ul{list-style:none;padding-left:0;}
.bg-transparent{background-color:rgba(0, 0, 0, 0)!important;}
.bg-transparent{transition:background-color 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.bg-transparent{transition:none;}
}
.text-white{color:rgba(244, 244, 245, 0.9)!important;}
.text-gray-light{color:#798892!important;}
.mt{margin-top:1rem;}
.mt-0{margin-top:0;}
.mb-sm{margin-bottom:0.5rem;}

.Widget_title__1U9X_{margin-top:0;color:#fff;}
.Widget_title__1U9X_::after{display:block;clear:both;content:"";}
.Widget_widgetBackground__1F6dp{position:fixed;display:none;top:0px;left:0;width:100vw;height:100vh;background:radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193B);background-repeat:no-repeat;background-size:cover;z-index:55;}
.Widget_widget__32uL4{color:rgba(244, 244, 245, 0.6);display:block;position:relative;margin-bottom:40px;width:100%;border-radius:10px;background:rgba(100, 100, 100, 0.24);box-shadow:0 25px 20px -20px black, 0 0 15px black;}
.Widget_widget__32uL4 > header{transition:padding .3s linear;color:rgba(244, 244, 245, 0.9);}
.Widget_widget__32uL4 > header h5{margin:0;color:rgba(244, 244, 245, 0.9);}
.Widget_widgetBody__34soD{padding:15px 20px;}
.Widget_widgetBody__34soD::after{display:block;clear:both;content:"";}
.Widget_widgetBody__34soD > footer{margin:3rem -20px -15px;padding:1px 20px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.Widget_widgetControls__B4-0r,.widget-controls{position:absolute;z-index:50;top:0;right:0;display:flex;padding:14px;font-size:0.875rem;}
.Widget_widgetControls__B4-0r button,.widget-controls button{display:flex;padding:1px 4px;border-radius:4px;color:#f4f4f5;background:transparent;border:none;cursor:pointer;transition:color 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.Widget_widgetControls__B4-0r button,.widget-controls button{transition:none;}
}
.Widget_widgetControls__B4-0r button:hover,.widget-controls button:hover{color:rgba(244, 244, 245, 0.75);text-decoration:none;}
.Widget_widgetControls__B4-0r button:active,.Widget_widgetControls__B4-0r button:focus,.widget-controls button:active,.widget-controls button:focus{outline:none;}

.Sidebar_root__3k9LL{width:350px;position:absolute;left:0px;top:10px;bottom:0;overflow-y:auto;background-color:transparent;background:transparent;color:rgba(244, 244, 245, 0.9)!important;padding:4px;transition:height 1s;-webkit-transform:translateX(-350px);transform:translateX(-350px);}
@media print{
.Sidebar_root__3k9LL{display:none;}
}
.Sidebar_root__3k9LL::-webkit-scrollbar{height:8px;width:4px;}
.Sidebar_root__3k9LL::-webkit-scrollbar-thumb{border:none;background-color:transparent;}
@media (max-width: 767.98px){
.Sidebar_root__3k9LL{position:static!important;width:100%;margin-left:0;padding:0 15px;height:0;-webkit-transform:none;transform:none;}
}
.Sidebar_content__1DsCZ{position:relative;left:10%;width:100%;}
@media (max-width: 767.98px){
.Sidebar_content__1DsCZ{padding:10px;}
}
@media (min-width: 576px){
.Sidebar_content__1DsCZ{-webkit-user-select:auto!important;user-select:auto!important;}
}
@media (prefers-reduced-motion: reduce){
    .badge{transition:none;}
    }
    .badge:empty{display:none;}
    
.badge-on{
    background-color:skyblue !important; 
}
.badge{
    color:white;
    display:-webkit-inline-flex;
    display:inline-flex;
    border-radius:30px;
    font-size:12px;
    height:30px;
    width:30px;
    -webkit-align-items:center;
    align-items:center;
    vertical-align:middle;
    -webkit-justify-content:center;
    justify-content:center;
    background-color:black; 
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-pink{background-color:#FA26A0;}
.badge-dark-no-border{background-color:rgb(18,21,30);border:1px solid rgb(0, 204, 255);}

.pack-ind{position:absolute;left:-5px;top:-16px;height:50px;width:100px;}
.pack{border-radius:20px;color:white;max-width:250px;max-height:270px;min-height:220px;}
.pack-header{padding:0 10px;}
.pack-body{min-height:80px;}
.pack-buy{background-color:#262626;}
.pack-enable{border:3px;border-color:#00ccff;border-style:solid;}
.pack-disabled{background-color:#262626;}
.pack-header-enable{border-bottom:3px solid #00ccff;}
.pack-header-buy,.pack-header-disabled{border-bottom:3px solid #12151e;}
.badge-left{position:absolute;left:10%;-webkit-transform:translateX(-10%);transform:translateX(-10%);}
.badge-center{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.badge-right{position:absolute;left:90%;-webkit-transform:translateX(-90%);transform:translateX(-90%);}
.badge-blue-light{background-color:#00ccff;}

.Layout_root__tsDUs{height:100%;position:relative;left:0;top:5px;transition:left 0.3s ease-in-out;}
.Layout_wrap__3suIr{position:relative;min-height:100vh;display:flex;margin-left:350px;flex-direction:column;left:0;right:0;transition:left 0.3s ease-in-out;}
@media print{
.Layout_wrap__3suIr{margin:0;}
}
@media (max-width: 767.98px){
.Layout_wrap__3suIr{margin-left:0;left:0;}
}
.Layout_content__3Ygen{position:relative;flex-grow:1;padding:25px 40px 60px;}
@media (max-width: 767.98px){
.Layout_content__3Ygen{padding:20px 15px;}
}
@media (min-width: 576px){
.Layout_content__3Ygen{-webkit-user-select:auto!important;user-select:auto!important;}
}

@font-face{font-family:'FontAwesome';src:url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('http://localhost:3000/css/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'FontAwesome';src:url(http://localhost:3000/static/media/fontawesome-webfont.674f50d2.eot);src:url(http://localhost:3000/static/media/fontawesome-webfont.674f50d2.eot#iefix&v=4.7.0) format("embedded-opentype"), url(http://localhost:3000/static/media/fontawesome-webfont.af7ae505.woff2) format("woff2"), url(http://localhost:3000/static/media/fontawesome-webfont.fee66e71.woff) format("woff"), url(http://localhost:3000/static/media/fontawesome-webfont.b06871f2.ttf) format("truetype"), url(http://localhost:3000/static/media/fontawesome-webfont.912ec66d.svg#fontawesomeregular) format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'icomoon';src:url('http://localhost:3000/css/micons/fonts/icomoon.eot?jo2z5t');src:url('http://localhost:3000/css/micons/fonts/icomoon.eot?jo2z5t#iefix') format('embedded-opentype'),          url('http://localhost:3000/css/micons/fonts/icomoon.ttf?jo2z5t') format('truetype'),          url('http://localhost:3000/css/micons/fonts/icomoon.woff?jo2z5t') format('woff'),          url('http://localhost:3000/css/micons/fonts/icomoon.svg?jo2z5t#icomoon') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:"lora-regular";src:url("http://localhost:3000/fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/lora/lora-regular-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"montserrat-medium";src:url("http://localhost:3000/fonts/montserrat/montserrat-medium-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/montserrat/montserrat-medium-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"lora-italic";src:url("http://localhost:3000/fonts/lora/lora-italic-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/lora/lora-italic-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"lora-bold";src:url("http://localhost:3000/fonts/lora/lora-bold-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/lora/lora-bold-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"montserrat-light";src:url("http://localhost:3000/fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/montserrat/montserrat-light-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"montserrat-semibold";src:url("http://localhost:3000/fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:"montserrat-regular";src:url("http://localhost:3000/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("http://localhost:3000/fonts/montserrat/montserrat-regular-webfont.woff") format("woff");font-style:normal;font-weight:normal;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;font-stretch:100%;src:url(https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}