
.dashboard {
  background: $dashboard-bg;
  border-radius: $dashboard-border-radius;
  .dashboard-body {
    color: $dashboard-description-color;
    padding: $dashboard-padding-y $dashboard-padding-x;
    + .dashboard-body {
      padding-top: 1rem;
    }
  }
  .dashboard-description {
    color: $dashboard-description-color;
    font-weight: $font-weight-light;
  }
  &.dashboard-outline-success {
		border: 1px solid theme-color("success");
	}
	&.dashboard-outline-primary {
		border: 1px solid theme-color("primary");
	}
	&.dashboard-outline-warning {
		border: 1px solid theme-color("warning");
	}
	&.dashboard-outline-danger {
		border: 1px solid theme-color("danger");
	}
	&.dashboard-rounded {
		@include border-radius(5px);
	}

  &.dashboard-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.dashboard-circle-progress {
    color: $white;
    text-align: center;
  }
  &.dashboard-img-holder {
    position: relative;
    .dashboard-img-absolute {
      position: absolute;
      top:0;
      right: 0;
      height: 100%;
    }
  }
  &.corona-gradient-dashboard {
    background-image: linear-gradient(to left, #d41459, #911a6c);
    border-radius: 6px;
    .gradient-corona-img {
      height: 85px;
      @media (max-width: 576px) {
        height: auto;
        min-height: 50px;
        max-height: 85px;
      }
    }
    @media (max-width: 576px) {
     h4 {
       font-size: 0.75rem;
     }
    }
  }
}



@mixin dashboard-inverse-variant($bg, $border, $color) {
  background: $bg;
  border: 1px solid $border;
  color: $color;
}


@each $color, $value in $theme-colors {
  .dashboard-inverse-#{$color} {
    @include dashboard-inverse-variant(rgba(theme-color($color), .2), theme-color-level($color, 1), theme-color-level($color, 3));
  }
}
